.cartao {
    border: 1rem solid #ccc;
    border: radius= 0,5rem;
    box-shadow: .4rem .3rem 3rem .03rem #eee;
    display: flex;
    flex-direction: column;
    padding: 5.rem;
    width: 15rem;
    height: 18rem;
    ;

}
    
    .imagem-do-cartao {
        max-width: 100%;
        height: auto;
        aspect-ratio: 1/2.3;
        object-fit: cover;
        margin-bottom: .5rem;

    }

    .corpo-do-cartã: {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;

    } 

    .classificacao-da-noticia {
       display: flex;
        justify-content: space-between;
        margin-bottom:  .5rem;
        
    }

        .botao-do-cartao 
            text-alignt:center;





            color: #ccc;
            text-decoration: none;
            padding: .5rem;
            text-align: center;

        }
        }
}